@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
        max-width: 100vw;
        overflow-x: hidden;
        font-family: 'Arvo';
}
video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
}

.main {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 4rem;
  opacity: 1;
  mix-blend-mode: overlay;
  width: auto;
  max-width: 100%;
  height: auto;
}

.main h2 {
        max-width: 100%;
        line-height: 1em;
        white-space: nowrap;
}

.main .tags{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        .tag{
                margin-right: 20px;
                font-size: 2rem;
                color: white;
                
                &:last-child{
                        margin-right: 0;
                }
        }
}


a{
        font-size: 1.4rem;
        padding:10px 20px;      
        background:transparent;
        color:white;
        border:3px solid white;
        text-decoration: none;
        transform: translateY(50%);
        overflow: hidden;
        position: relative;
        z-index: 0;
        transition: 0.4s ease-in-out;
        &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background: white;
                transition: 0.5s ease-in-out;
                height: 100%;
                width: 0px;
                z-index: -1;
        }
        &:hover{
                color: rebeccapurple;
                &::after{
                        width: 100%;
                }
        }

}

section.first{
        position: relative;
        height: 100vh;
        width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
        overflow: hidden;
}

section.second{
        height:100vh;
        width:100vw;
        padding:100px;
        h3{
                font-size: 3rem;
                text-align: center;
                color:rgb(31, 31, 31);
        }
}


@media only screen and (max-width: 800px) {
        .main{
                display: flex;
                flex-direction: column;
                max-width: 100vw;
        }
  .main h2 {
    font-size: 5rem;
    text-align: center;
    white-space: normal;
  }
  .main p {
    font-size: 1.5rem;
  }
  .tags{
          flex-direction: column !important;
          justify-content: center;
          .tag{
                  float: left;
                  margin: 0 !important;
                  font-size: 1.8rem !important;
          }
  }
  .btns{
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 10px;
  }
  .second{
          padding: 50px !important;
  }
}
